@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  @import 'tailwindComponents/formik';
  @import 'tailwindComponents/buttons';
}

table {
  width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}

thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

table td, table th, tfoot td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}
